/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

/* @media screen and (max-width: 900px) { 
p .body-container {
    width: 50%;
    background-color: red;
    color: yellow;
}
} */

body {    
    position: relative;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 900px;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 70%;
    line-height: 1.8;
    word-spacing: .1rem;
}

.body-container {
    display: flex;      
    width: 85%;
    height: 55%;
    justify-content: center;
    align-content: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

img { 
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    filter: opacity(.5) contrast(90%) brightness(.9);
}

.main-heading {
    line-height: 1.3;
    color: white;
    width: 80%;
    font-size: 2.5rem;
    
}

.insights {
    color: #6732A8;
    font-family: 'Inter', sans-serif;
    width: 85%;
}

.right-container {
    width: 50%;
    height: auto;
    background-color: #6732A8;
    border-radius: 0 8px 8px 0;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    padding: 20px;
    /* background-color: #ff2050; */
}

.top-portion {
    width: 90%;
    padding: 50px;
    /* background-color: orange; */
}

.bottom-portion {  

    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    
    width: 70%;
    padding-left: 8%;
    padding-bottom: 12%;
}

.stat {
    
    line-height: .5;
    
}

.stat h2 {
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: .1rem;
    font-size: 1.8rem;
}

.stat p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1rem; 
    line-height: .5;
    letter-spacing: .1rem;
    font-family: 'Lexend Deca', serif;
}

.footer {
    display: flex;
    text-align: center;    
    margin-top: 150px;
    width: 80%;
    justify-content: center;
}

.challenge {
    width: 30%;
    color: #F5CE73;
    font-size: 1.1rem;
    font-family: 'Inter';
}

.challenge a {    
    color: #42f5af;
    text-decoration: none;
}

.challenge a:hover {
    color: #36A856;
    text-decoration: underline;
}

.target {
    width: 30%;
    font-family: 'Inter';
    font-size: 1.1rem;
}

.target a {
    color: #42f5af;
    font-size: 1.1rem;
    text-decoration: none;
}

.target a:hover {
    color: #36A856;
    text-decoration: underline;
}

.signature {
    width: 30%;
    font-family: 'Inter';
    font-size: 1.1rem;
    color: #F5CE73;
}

.signature a {    
    color: #42f5af; 
    text-decoration: none;   
}

.signature a:hover {
    color: #36A856;
    text-decoration: underline;
}


@media (max-width: 375px) {
    
    .body-container {
        flex-direction: column-reverse;
        width: 85%;
        height: auto;
        align-items: center;
        margin-top: 50px;
        
    }

    .right-container {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .main-heading {
        width: 88%;
        text-align: center;
        padding: 20px;
        font-size: 1.8rem;
        margin: 0;
        line-height: 1.1;
    }

    p {
        width: 90%;
        padding: 20px;
        word-spacing: 0;
        margin: 0;        
    }

    img {
        border-radius: 8px 8px 0 0;        
    }

    .left-container {
        width: 100%;
        text-align: center;
        padding: 0;
        align-items: center;
        position: relative;
        bottom: 4px;
        background-color: hsl(244, 38%, 16%);
    }

    .top-portion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .bottom-portion {
        flex-direction: column;
        width: inherit;
        padding: 0;
        align-items: center;
    }

    .stat {
        line-height: 0;
        padding: 10px;
    }

    .stat p {
        font-size: .8rem; 
        padding: 5px 0 25px 0;
        letter-spacing: 0.04rem;
    }

    .footer {
        
        flex-direction: column;
        align-items: center;
    }   

    .challenge {
        line-height: 1.2;
        width: 60%;
        padding: 0;
    }

    .signature {
        line-height: 1.2;
        width: 55%;
        padding: 0;
    }

    .target {
        padding: 0;
        width: auto;
        line-height: 1.1rem;
    }

    .foot-item {
        margin: 20px auto;
        width: auto;
    }

    body {
        width: auto;
        height: 100%;
    }

    
}